/* Declaring custom properties */
* {
  box-sizing: border-box;

  /* border: thin solid green ; */
}

#header ul li {
  display: inline-block;
  list-style: none;
  background-color: #black;
  text-align: right;
}
#menu {
  background-color: black;
  color: white;

}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

#menu > ul > li {
  display: inline-block;
  padding: 0.99em;
  text-align: right;

}

.banner img {
  width: 100%;
  max-width: 100%;
}

#E-Learing{
display: inline-block;
padding: 0.5em;
text-align: left;
background-color: black;
}

.izquierda{
  float: left;
}


.telefono {
  vertical-align: middle;
  max-height: 25px;
  max-width: 160px;
  height: 20px;
  width: 20px;

}



#content {
  padding: 1em;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}

.card hr {
  color: #42cdc6;
}

.columnas {
  text-align: center;
}

.columnas img {
  width: 60%;
  max-width: 60%;
}

.card-title, .card-subtitle, .card-views, .card-reviews {
  padding: 0.5em;
}


#banner {
  padding: 1em;
}

#banner img {
  width: 100%;
  max-width: 100%;

}

#footer {
  background-color: #1f2022;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#footer h6 {
  font-size: 1em;
}

#footer ul {
  font-size: 0.8em;
}


.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {

  #menu > ul > li {
    display: block;
    padding: 0.2em;
  }

  #search-bar {
    float: none;
    border-left: none !important;
  }

  #main {
    grid-template-columns: 1fr;
  }

  #content {
    grid-template-columns: 1fr;
  }

  #footer {
    grid-template-columns: 1fr;
  }

  .footer-columns {
    grid-template-columns: 1fr;
  }

}

.texto{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:green;
  font-weight: 700;
  font-size: 60px;
}
.texto1{
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  color:white;
  font-weight: 600;
  font-size: 50px;
}

.field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




#nombres{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.columnas h2, .columnas h4  {
text-align: center;
}

.ola {
background-color: gray;
  text-align: center;
}


.menu {
 overflow: hidden;
 background-color: white;
 color: black;
 font-family: Arial;
}


.menu a {
 float: left;
 font-size: 16px;
 color:black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}


.lado {
 float: left;
 overflow: hidden;
}

.lado .dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: black;
 padding: 14px 16px;
 background-color: white;
 font-family: inherit;
 margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
 background-color: red;
}


.lado-content {
 display: none;
 position: absolute;
 background-color: white;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}


.lado-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}


.dropdown-content a:hover {
 background-color: white;
}


.dropdown:hover .dropdown-content {
 display: block;
}

.dropbtn {
margin-right: 200px;

}



#columnas2 {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.Universidades img {
max-width: 60px;
height: 100px

}


.videos {
background-color: white;
  text-align: center;
}
